Repository gold-goose/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @BillWagner, @natke, @cartermp, @tdykstra, @thraka

Update snippet4402.fs
  snippets/fsharp/lang-ref-2/snippet4402.fs
Owners: @cartermp

Bump Microsoft.ApplicationInsights (#2011)
  snippets/csharp/VS_Snippets_CLR_System/system.invalidoperationexception.threading.uwp/cs/UWPCrossThreadSolutionCS.csproj
Owners: @BillWagner

fix snippet warning (#2013)
  snippets/csharp/objectoriented/Inheritance.cs
Owners: @BillWagner

Fix snippet tag (#2014)
  snippets/csharp/interfaces/ExplicitImplementation.cs
Owners: @BillWagner

remove misleading sentence (#2015)
  snippets/csharp/System.DateTime/Calendar.cs
Owners: @BillWagner

In inheritance sample, change interface method names to pascal case to follow C# standard style (#2017)
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideInheritance/CS/Inheritance.cs
Owners: @BillWagner

Remove old samples no longer used in C# programming guide. (#1999)
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideIndexers/CS/Indexers.cs
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideInheritance/CS/Inheritance.cs
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideObjects/CS/Objects.cs
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideProperties/CS/Properties.cs
Owners: @BillWagner

Added snippets for the struct article (#2008)
  csharp/language-reference/builtin-types/Program.cs
  csharp/language-reference/builtin-types/StructType.cs
Owners: @BillWagner

Bump Microsoft.ApplicationInsights (#2018)
  snippets/csharp/VS_Snippets_CLR_System/system.invalidoperationexception.threading.uwp/cs/UWPCrossThreadSolutionCS.csproj
Owners: @BillWagner

remove snippet tags (#1992)
  snippets/common/VS_Snippets_WebNet/system.web.ui.clientidmode/common/seasons.ascx
  snippets/common/VS_Snippets_WebNet/system.web.ui.clientidmode/common/seasons.aspx
  snippets/common/VS_Snippets_WebNet/system.web.ui.clientidmode/common/seasons.master
Owners: @dotnet/docs

Create F# Snippet75
  snippets/fsharp/arrays/snippet75.fs
Owners: @cartermp

Create F# Snippet76
  snippets/fsharp/arrays/snippet76.fs
Owners: @cartermp

Create snippet71.fs
  snippets/fsharp/lists/snippet71.fs
Owners: @cartermp

Create snippet72.fs
  snippets/fsharp/lists/snippet72.fs
Owners: @cartermp

Create snippet66.fs
  snippets/fsharp/fssequences/snippet66.fs
Owners: @cartermp

Add SECURITY.md
  SECURITY.md
Owners: @dotnet/docs

Update ThirdPartyNotices.md
  ThirdPartyNotices.md
Owners: @dotnet/docs

Fix off-by-one error in Stopwatch sample (redux) (#2020)
  snippets/csharp/VS_Snippets_CLR/StopWatchPerfSample/CS/source.cs
Owners: @BillWagner

New code sample for dotnet/docs issue 12736 (#2019)
  snippets/csharp/language-reference/keywords/is/is-var-pattern8.cs
Owners: @BillWagner

Removed obsolete snippets (#2032)
  snippets/csharp/VS_Snippets_VBCSharp/csProgGuideObjects/CS/Objects.cs
  snippets/csharp/concepts/structs/assign-value.cs
  snippets/csharp/concepts/structs/static-method.cs
  snippets/csharp/concepts/structs/struct-keyword.cs
  snippets/csharp/tour/structs/Program.cs
  snippets/csharp/tour/structs/access-by-line.txt
  snippets/csharp/tour/structs/point.cs
  snippets/csharp/tour/structs/structs.csproj
Owners: @BillWagner

Updated confusing line numbers on Local functions examples (#2033)
  snippets/csharp/programming-guide/classes-and-structs/local-functions-async1.cs
  snippets/csharp/programming-guide/classes-and-structs/local-functions-async2.cs
  snippets/csharp/programming-guide/classes-and-structs/local-functions-iterator1.cs
  snippets/csharp/programming-guide/classes-and-structs/local-functions-iterator2.cs
Owners: @BillWagner

Bump MSTest.TestFramework (#1950)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#1951)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#1957)
  core/getting-started/unit-testing-using-mstest/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#1958)
  core/getting-started/unit-testing-using-mstest/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1965)
  core/getting-started/unit-testing-using-nunit/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1964)
  core/getting-started/unit-testing-vb-nunit/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1966)
  core/getting-started/unit-testing-with-fsharp/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1968)
  core/getting-started/unit-testing-using-mstest/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk in /core/getting-started/golden/test-library (#1972)
  core/getting-started/golden/test-library/test-library.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1971)
  framework/libraries/migrate-library-csproj/tests/Car.Tests/Car.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1973)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1974)
  core/getting-started/unit-testing-with-fsharp-nunit/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1975)
  core/getting-started/unit-testing-using-dotnet-test/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1976)
  core/tutorials/using-on-mac-vs-full-solution/WordCounter/TestLibrary/TestLibrary.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1978)
  core/getting-started/golden/test/test-library/test-library.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1977)
  core/getting-started/unit-testing-vb-dotnet-test/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#1952)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1981)
  framework/libraries/migrate-library-csproj-keep-existing/tests/Car.Tests/Car.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#1982)
  core/console-apps/NewTypesMsBuild/test/NewTypesTests/NewTypesTests.csproj
Owners: @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*           @dotnet/docs

# C# samples:
/csharp/**  @BillWagner

# ML.NET samples:
/machine-learning/**  @natke

#### Snippets (under samples)

# C# Snippets:
/snippets/csharp/** @BillWagner
# Visual Basic snippets:
/snippets/visualbasic/** @BillWagner
# F# Snippets:
/snippets/fsharp/** @cartermp

# System.Json samples:
/snippets/core/system-text-json/** @tdykstra

# Text runes:
/snippets/core/rune/**  @tdykstra

# WPF folders:
/snippets/xaml/wpf/**   @thraka
/snippets/csharp/wpf/**   @thraka
/snippets/visualbasic/wpf/**   @thraka
/snippets/desktop-guide/wpf/**   @thraka

# Windows forms areas:
/winforms/** @thraka
/snippets/winforms/**  @thraka
