Repository gold-goose/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @BillWagner, @natke, @cartermp, @tdykstra, @thraka

Bump Newtonsoft.Json (#3592)
  csharp/tutorials/AsyncStreams/start/IssuePRreport/IssuePRreport/IssuePRreport.csproj
Owners: @BillWagner

Remove Formatting Utility from `winforms` folder. Resolves #2884 (#2887)
  winforms/formatting-utility/cs/Form1.Designer.cs
  winforms/formatting-utility/cs/Form1.cs
  winforms/formatting-utility/cs/FormatUtility.csproj
  winforms/formatting-utility/cs/Program.cs
  winforms/formatting-utility/cs/Resources.Designer.cs
  winforms/formatting-utility/cs/Resources.resx
  winforms/formatting-utility/cs/readme.md
  winforms/formatting-utility/vb/Form1.Designer.vb
  winforms/formatting-utility/vb/Form1.vb
  winforms/formatting-utility/vb/FormatUtility.vbproj
  winforms/formatting-utility/vb/Resources.Designer.vb
  winforms/formatting-utility/vb/Resources.resx
  winforms/formatting-utility/vb/readme.md
Owners: @thraka

Update link to Contributing Guide to point to new location (#3597)
  CONTRIBUTING.md
Owners: @dotnet/docs

Added sample order unit testing solution (#3596)
  .github/workflows/markdownlint.yml
  README.md
  csharp/unit-testing/MSTest.Project/ByAlphabeticalOrder.cs
  csharp/unit-testing/MSTest.Project/MSTest.Project.csproj
  csharp/unit-testing/NUnit.TestProject/ByOrder.cs
  csharp/unit-testing/NUnit.TestProject/NUnit.Project.csproj
  csharp/unit-testing/README.md
  csharp/unit-testing/UnitTesting.sln
  csharp/unit-testing/XUnit.TestProject/Attributes/TestPriorityAttribute.cs
  csharp/unit-testing/XUnit.TestProject/ByAlphabeticalOrder.cs
  csharp/unit-testing/XUnit.TestProject/ByDisplayName.cs
  csharp/unit-testing/XUnit.TestProject/ByPriorityOrder.cs
  csharp/unit-testing/XUnit.TestProject/Orderers/AlphabeticalOrderer.cs
  csharp/unit-testing/XUnit.TestProject/Orderers/DisplayNameOrderer.cs
  csharp/unit-testing/XUnit.TestProject/Orderers/PriorityOrderer.cs
  csharp/unit-testing/XUnit.TestProject/XUnit.Project.csproj
Owners: @dotnet/docs, @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#3608)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst/MakeConst.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#3610)
  csharp/roslyn-sdk/SemanticQuickStart/SemanticQuickStart.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#3614)
  csharp/roslyn-sdk/SyntaxTransformationQuickStart/TransformationCS/TransformationCS.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#3613)
  csharp/roslyn-sdk/SyntaxQuickStart/HelloSyntaxTree/HelloSyntaxTree.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#3615)
  csharp/roslyn-sdk/SyntaxQuickStart/SyntaxWalker/SyntaxWalker.csproj
Owners: @BillWagner

Bump Microsoft.Net.Compilers (#3618)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

Bump Microsoft.CodeAnalysis (#3611)
  csharp/roslyn-sdk/SyntaxTransformationQuickStart/ConstructionCS/ConstructionCS.csproj
Owners: @BillWagner

Update ConsoleModule.cs (#3620)
  core/encoding/cyrillic-to-latin/cs/ConsoleModule.cs
Owners: @dotnet/docs

Add datetime.parse and string.format C# samples (#3598)
  csharp/api/datetime.parse/Program.cs
  csharp/api/datetime.parse/README.md
  csharp/api/datetime.parse/datetime.parse.csproj
  csharp/api/datetime.parse/parse_st_ifmt.cs
  csharp/api/datetime.parse/parse_st_ifmt_dtstyles.cs
  csharp/api/datetime.parse/parse_string.cs
  csharp/api/datetime.parse/returnvalue.cs
  csharp/api/datetime.parse/string-to-be-parsed.cs
  csharp/api/datetime.parse/styleflag.cs
  csharp/api/string.format/Program.cs
  csharp/api/string.format/README.md
  csharp/api/string.format/customer-acct-formatter.cs
  csharp/api/string.format/examples.cs
  csharp/api/string.format/format-elements.cs
  csharp/api/string.format/get-started.cs
  csharp/api/string.format/q-a.cs
  csharp/api/string.format/roman-numeral-formatter.cs
  csharp/api/string.format/string.format.examples.csproj
Owners: @BillWagner

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*           @dotnet/docs

# C# samples:
/csharp/**  @BillWagner

# ML.NET samples:
/machine-learning/**  @natke

#### Snippets (under samples)

# C# Snippets:
/snippets/csharp/** @BillWagner
# Visual Basic snippets:
/snippets/visualbasic/** @BillWagner
# F# Snippets:
/snippets/fsharp/** @cartermp

# System.Json samples:
/snippets/core/system-text-json/** @tdykstra

# Text runes:
/snippets/core/rune/**  @tdykstra

# WPF folders:
/snippets/xaml/wpf/**   @thraka
/snippets/csharp/wpf/**   @thraka
/snippets/visualbasic/wpf/**   @thraka
/snippets/desktop-guide/wpf/**   @thraka

# Windows forms areas:
/winforms/** @thraka
/snippets/winforms/**  @thraka
