Repository gold-goose/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @BillWagner, @natke, @cartermp, @tdykstra, @thraka

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*           @dotnet/docs

# C# samples:
/csharp/**  @BillWagner

# ML.NET samples:
/machine-learning/**  @natke

#### Snippets (under samples)

# C# Snippets:
/snippets/csharp/** @BillWagner
# Visual Basic snippets:
/snippets/visualbasic/** @BillWagner
# F# Snippets:
/snippets/fsharp/** @cartermp

# System.Json samples:
/snippets/core/system-text-json/** @tdykstra

# Text runes:
/snippets/core/rune/**  @tdykstra

# WPF folders:
/snippets/xaml/wpf/**   @thraka
/snippets/csharp/wpf/**   @thraka
/snippets/visualbasic/wpf/**   @thraka
/snippets/desktop-guide/wpf/**   @thraka

# Windows forms areas:
/winforms/** @thraka
/snippets/winforms/**  @thraka

Bump Microsoft.NET.Test.Sdk in /csharp/unit-testing-best-practices/after (#2845)
  csharp/unit-testing-best-practices/after/unit-testing-best-practices-after.csproj
Owners: @BillWagner

Bump Microsoft.NET.Test.Sdk (#2844)
  core/getting-started/golden/test/test-library/test-library.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2843)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
Owners: @BillWagner

Bump Microsoft.NET.Test.Sdk (#2842)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2841)
  core/tutorials/using-on-mac-vs-full-solution/WordCounter/TestLibrary/TestLibrary.csproj
Owners: @dotnet/docs

Light edits to re-run hooks to index samples
  csharp/parallel/ComputePi/README.md
  csharp/parallel/EditDistance/README.md
  csharp/parallel/PLINQ/README.md
  csharp/parallel/ParallelExtensionsExtras/README.md
  csharp/parallel/ParallelGrep/README.md
  csharp/parallel/Raytracer.Wpf/README.md
  csharp/parallel/Raytracer/README.md
Owners: @BillWagner

Bump Microsoft.NET.Test.Sdk (#2863)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2862)
  core/getting-started/unit-testing-vb-dotnet-test/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk in /core/getting-started/golden/test-library (#2861)
  core/getting-started/golden/test-library/test-library.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2860)
  csharp/tutorials/nullable-reference-migration/finished/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump Microsoft.NET.Test.Sdk (#2858)
  core/getting-started/unit-testing-vb-nunit/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2857)
  csharp/unit-testing-best-practices/before/unit-testing-best-practices-before.csproj
Owners: @BillWagner

Bump Microsoft.NET.Test.Sdk (#2856)
  core/getting-started/unit-testing-with-fsharp/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2855)
  framework/libraries/migrate-library-csproj-keep-existing/tests/Car.Tests/Car.Tests.csproj
Owners: @dotnet/docs

Bump Microsoft.NET.Test.Sdk (#2854)
  core/getting-started/unit-testing-with-fsharp-nunit/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump Moq (#2852)
  csharp/tutorials/nullable-reference-migration/start/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump Moq (#2851)
  csharp/tutorials/nullable-reference-migration/finished/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump Moq (#2869)
  csharp/tutorials/nullable-reference-migration/finished/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump Moq (#2868)
  csharp/tutorials/nullable-reference-migration/start/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump Humanizer in /core/extensions/AppWithPlugin/FrenchPlugin (#2874)
  core/extensions/AppWithPlugin/FrenchPlugin/FrenchPlugin.csproj
Owners: @dotnet/docs

ComWrappers example using IDispatch (#2873)
  core/interop/comwrappers/IDispatch/AnyObjectProxy.cs
  core/interop/comwrappers/IDispatch/ComWrappersIDispatch.csproj
  core/interop/comwrappers/IDispatch/ComWrappersImpl.cs
  core/interop/comwrappers/IDispatch/Form1.Designer.cs
  core/interop/comwrappers/IDispatch/Form1.cs
  core/interop/comwrappers/IDispatch/Form1.resx
  core/interop/comwrappers/IDispatch/Program.cs
  core/interop/comwrappers/IDispatch/README.md
Owners: @dotnet/docs

Bump System.Data.SqlClient (#2007)
  windowsforms/datagridview/CSWinFormDataGridView/CSWinFormDataGridView.csproj
Owners: @dotnet/docs

Bump SciSharp.TensorFlow.Redist (#2062)
  machine-learning/tutorials/TextClassificationTF/TextClassificationTF.csproj
Owners: @natke

Bump SciSharp.TensorFlow.Redist (#2063)
  machine-learning/tutorials/TransferLearningTF/TransferLearningTF.csproj
Owners: @natke

Bump Microsoft.NET.Test.Sdk (#2859)
  csharp/tutorials/nullable-reference-migration/start/SimpleFeedReader.Tests/SimpleFeedReader.Tests.csproj
Owners: @BillWagner

Bump jQuery (#2877)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

Bump System.Text.Json in /csharp/getting-started/console-webapiclient (#2880)
  csharp/getting-started/console-webapiclient/webapiclient.csproj
Owners: @BillWagner

Begin moving Formatting Utility to `windowsforms` folder (#2881)
  windowsforms/formatting-utility/cs/Form1.Designer.cs
  windowsforms/formatting-utility/cs/Form1.cs
  windowsforms/formatting-utility/cs/FormatUtility.csproj
  windowsforms/formatting-utility/cs/Program.cs
  windowsforms/formatting-utility/cs/Resources.Designer.cs
  windowsforms/formatting-utility/cs/Resources.resx
  windowsforms/formatting-utility/cs/readme.md
  windowsforms/formatting-utility/vb/Form1.Designer.vb
  windowsforms/formatting-utility/vb/Form1.vb
  windowsforms/formatting-utility/vb/FormatUtility.vbproj
  windowsforms/formatting-utility/vb/Resources.Designer.vb
  windowsforms/formatting-utility/vb/Resources.resx
  windowsforms/formatting-utility/vb/readme.md
Owners: @dotnet/docs

fix (#2883)
  core/getting-started/golden/.vscode/launch.json
  core/getting-started/golden/.vscode/tasks.json
Owners: @dotnet/docs

Re-generate dependabot config file (#2882)
  .dependabot/config.yml
Owners: @dotnet/docs

Remove single-project sln files (#2886)
  csharp/NullableIntroduction/NullableIntroduction.sln
  csharp/roslyn-sdk/Tutorials/MakeConstTestProject/MakeConstTestProject.sln
  csharp/tutorials/AsyncStreams/finished/IssuePRreport/IssuePRreport.sln
  csharp/tutorials/AsyncStreams/start/IssuePRreport/IssuePRreport.sln
  framework/docker/ConsoleRandomAnswerGenerator/ConsoleRandomAnswerGenerator.sln
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator.sln
  windowsforms/datagridview/CSWinFormDataGridView.sln
Owners: @BillWagner, @dotnet/docs

Bump System.ComponentModel.Composition (#3588)
  mef/simple-calculator/vb/MefCalculator/MefCalculator.vbproj
Owners: @dotnet/docs

Bump bootstrap (#2888)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

Bump System.Text.Encoding.CodePages (#3586)
  core/encoding/cyrillic-to-latin/cs/CyrillicToLatin.csproj
Owners: @dotnet/docs

Bump System.ComponentModel.Composition in /mef/simple-calculator/vb (#3585)
  mef/simple-calculator/vb/SimpleCalculator2.vbproj
Owners: @dotnet/docs

Bump Microsoft.AspNetCore.Mvc.NewtonsoftJson (#3584)
  core/diagnostics/DiagnosticScenarios/DiagnosticScenarios.csproj
Owners: @dotnet/docs

Bump System.Reflection.MetadataLoadContext (#3583)
  core/assembly/MetadataLoadContext/MetadataLoadContextSample.csproj
Owners: @dotnet/docs

Bump Octokit (#3589)
  csharp/tutorials/AsyncStreams/finished/IssuePRreport/IssuePRreport/IssuePRreport.csproj
Owners: @BillWagner

Bump Octokit (#3590)
  csharp/tutorials/AsyncStreams/start/IssuePRreport/IssuePRreport/IssuePRreport.csproj
Owners: @BillWagner

Bump Newtonsoft.Json (#3591)
  csharp/tutorials/AsyncStreams/finished/IssuePRreport/IssuePRreport/IssuePRreport.csproj
Owners: @BillWagner
