Repository gold-goose/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @BillWagner, @natke, @cartermp, @tdykstra, @thraka

Bump Microsoft.NET.Test.Sdk (#1980)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#1953)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

add solution for vs get started (#1867)
  snippets/csharp/getting_started/ClassLibraryProjects/ClassLibraryProjects.sln
  snippets/csharp/getting_started/ClassLibraryProjects/ShowCase/Program.cs
  snippets/csharp/getting_started/ClassLibraryProjects/ShowCase/ShowCase.csproj
  snippets/csharp/getting_started/ClassLibraryProjects/StringLibrary/Class1.cs
  snippets/csharp/getting_started/ClassLibraryProjects/StringLibrary/StringLibrary.csproj
  snippets/csharp/getting_started/ClassLibraryProjects/StringLibraryTest/StringLibraryTest.csproj
  snippets/csharp/getting_started/ClassLibraryProjects/StringLibraryTest/UnitTest1.cs
Owners: @BillWagner

Bump NUnit3TestAdapter (#1918)
  core/getting-started/unit-testing-vb-nunit/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump NUnit3TestAdapter (#1919)
  core/getting-started/unit-testing-using-nunit/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump NUnit3TestAdapter (#1920)
  core/getting-started/unit-testing-with-fsharp-nunit/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Fix F# snippet 1506
  snippets/fsharp/lang-ref-1/snippet1506.fs
Owners: @cartermp

remove the PCL library (#2045)
  framework/libraries/pcl-library/src/Library/Library.cs
  framework/libraries/pcl-library/src/Library/Library.csproj
Owners: @dotnet/docs

remove project (#2047)
  .dependabot/config.yml
Owners: @dotnet/docs

Bug/flags samples (#2049)
  snippets/cpp/VS_Snippets_CLR_System/system.FlagsAttribute/CPP/flags1.cpp
  snippets/csharp/VS_Snippets_CLR_System/system.FlagsAttribute/CS/flags1.cs
  snippets/visualbasic/VS_Snippets_CLR_System/system.FlagsAttribute/VB/flags1.vb
Owners: @dotnet/docs, @BillWagner

fix typo (#2048)
  snippets/cpp/VS_Snippets_Remoting/System.Net.IPAddress/CPP/ipaddress.cpp
  snippets/csharp/VS_Snippets_Data/XmlWriterSettings.CloseOutput/CS/writestream2.cs
  snippets/csharp/VS_Snippets_Misc/lazy/cs/cs_lazycodefile.cs
  snippets/csharp/VS_Snippets_Misc/wifissuernameregistry/cs/mvcwepapp/web.config
  snippets/csharp/VS_Snippets_Misc/wifissuernameregistry/cs/passivests/web.config
  snippets/csharp/VS_Snippets_Remoting/System.Net.IPAddress/CS/ipaddress.cs
  snippets/visualbasic/VS_Snippets_Data/XmlWriterSettings.CloseOutput/VB/writestream2.vb
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.IPAddress/VB/ipaddress.vb
Owners: @dotnet/docs, @BillWagner

Fix Markdownlint issues (#2054)
  SECURITY.md
  ThirdPartyNotices.md
Owners: @dotnet/docs

Conway's Game of Life sample, see readme.md for original source (#1985)
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life-VB.jpg
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Conway's-Game-of-Life.vbproj
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/core/Animation.vb
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/ExDGV.vb
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/Form1.Designer.vb
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/Form1.resx
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/Form1.vb
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/conway_s_game_of_life.ico
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/frmProgress.Designer.vb
  windowsforms/Conway's-Game-of-Life/VB/Conway's-Game-of-Life/Program/gui/frmProgress.vb
  windowsforms/Conway's-Game-of-Life/VB/readme.md
  windowsforms/README.md
Owners: @dotnet/docs

Add Jagged array sample (#2055)
  csharp/tutorials/RangesIndexes/IndicesAndRanges.cs
  csharp/tutorials/RangesIndexes/Program.cs
  csharp/tutorials/RangesIndexes/RangesIndexes.csproj
Owners: @BillWagner

Removed not used samples (#2056)
  csharp/language-reference/builtin-types/BoolType.cs
  csharp/language-reference/builtin-types/CharType.cs
  csharp/language-reference/builtin-types/EnumType.cs
  csharp/language-reference/builtin-types/NullableValueTypes.cs
  csharp/language-reference/builtin-types/Program.cs
  csharp/language-reference/builtin-types/StructType.cs
  csharp/language-reference/builtin-types/UnmanagedTypes.cs
  csharp/language-reference/builtin-types/ValueTypes.cs
  csharp/language-reference/builtin-types/VoidType.cs
  csharp/language-reference/builtin-types/builtin-types.csproj
  csharp/language-reference/operators/AdditionOperator.cs
  csharp/language-reference/operators/ArithmeticOperators.cs
  csharp/language-reference/operators/AssignmentOperator.cs
  csharp/language-reference/operators/AwaitOperator.cs
  csharp/language-reference/operators/BitwiseAndShiftOperators.cs
  csharp/language-reference/operators/BooleanLogicalOperators.cs
  csharp/language-reference/operators/ComparisonOperators.cs
  csharp/language-reference/operators/ConditionalOperator.cs
  csharp/language-reference/operators/DefaultOperator.cs
  csharp/language-reference/operators/DelegateOperator.cs
  csharp/language-reference/operators/EqualityOperators.cs
  csharp/language-reference/operators/LambdaOperator.cs
  csharp/language-reference/operators/MemberAccessOperators.cs
  csharp/language-reference/operators/NameOfOperator.cs
  csharp/language-reference/operators/NewOperator.cs
  csharp/language-reference/operators/NullCoalescingOperator.cs
  csharp/language-reference/operators/NullForgivingOperator.cs
  csharp/language-reference/operators/OperatorOverloading.cs
  csharp/language-reference/operators/PointerOperators.cs
  csharp/language-reference/operators/Program.cs
  csharp/language-reference/operators/SizeOfOperator.cs
  csharp/language-reference/operators/StackallocOperator.cs
  csharp/language-reference/operators/SubtractionOperator.cs
  csharp/language-reference/operators/TrueFalseOperators.cs
  csharp/language-reference/operators/TypeTestingAndConversionOperators.cs
  csharp/language-reference/operators/UserDefinedConversions.cs
  csharp/language-reference/operators/operators.csproj
Owners: @BillWagner

rerun dependadotnet (#2060)
  .dependabot/config.yml
Owners: @dotnet/docs

add stack sampling profiler
  core/profiling/README.md
  core/profiling/stacksampling/CMakeLists.txt
  core/profiling/stacksampling/README.md
  core/profiling/stacksampling/build.cmd
  core/profiling/stacksampling/build.sh
  core/profiling/stacksampling/src/ClassFactory.cpp
  core/profiling/stacksampling/src/ClassFactory.h
  core/profiling/stacksampling/src/CorProfiler.cpp
  core/profiling/stacksampling/src/CorProfiler.def
  core/profiling/stacksampling/src/CorProfiler.h
  core/profiling/stacksampling/src/dllmain.cpp
  core/profiling/stacksampling/src/profiler_pal.h
  core/profiling/stacksampling/src/sampler.cpp
  core/profiling/stacksampling/src/sampler.h
Owners: @dotnet/docs

add newlines to markdown docs
  core/profiling/README.md
  core/profiling/stacksampling/README.md
Owners: @dotnet/docs

add comment around IsRuntimeExecutingManagedCode
  core/profiling/stacksampling/src/sampler.cpp
Owners: @dotnet/docs

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2784)
  csharp/roslyn-sdk/SyntaxQuickStart/SyntaxWalker/SyntaxWalker.csproj
Owners: @BillWagner

Bump Microsoft.Net.Compilers (#2787)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2785)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst/MakeConst.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2788)
  csharp/roslyn-sdk/SemanticQuickStart/SemanticQuickStart.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2790)
  csharp/roslyn-sdk/SyntaxTransformationQuickStart/TransformationCS/TransformationCS.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis (#2789)
  csharp/roslyn-sdk/SyntaxTransformationQuickStart/ConstructionCS/ConstructionCS.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2791)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
Owners: @BillWagner

Bump Microsoft.CodeAnalysis.CSharp.Workspaces (#2792)
  csharp/roslyn-sdk/SyntaxQuickStart/HelloSyntaxTree/HelloSyntaxTree.csproj
Owners: @BillWagner

Add sample: Inspecting assembly contents using MetadataLoadContext (#2053)
  core/assembly/MetadataLoadContext/MetadataLoadContextSample.csproj
  core/assembly/MetadataLoadContext/Program.cs
  core/assembly/MetadataLoadContext/readme.md
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#2797)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
Owners: @BillWagner

Bump MSTest.TestAdapter (#2798)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#2800)
  core/getting-started/unit-testing-using-mstest/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump MSTest.TestAdapter (#2799)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#2805)
  core/getting-started/unit-testing-with-fsharp-mstest/MathService.Tests/MathService.Tests.fsproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#2804)
  core/getting-started/unit-testing-vb-mstest/PrimeService.Tests/PrimeService.Tests.vbproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#2803)
  core/getting-started/unit-testing-using-mstest/PrimeService.Tests/PrimeService.Tests.csproj
Owners: @dotnet/docs

Bump MSTest.TestFramework (#2802)
  csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
Owners: @BillWagner

Bump BenchmarkDotNet in /csharp/safe-efficient-code/benchmark (#2807)
  csharp/safe-efficient-code/benchmark/benchmark.csproj
Owners: @BillWagner

Bump jQuery (#2809)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

Update HostWithHostFxr sample to call a non-default delegate type (#1984)
  core/hosting/HostWithHostFxr/readme.md
  core/hosting/HostWithHostFxr/src/DotNetLib/Lib.cs
  core/hosting/HostWithHostFxr/src/NativeHost/nativehost.cpp
Owners: @dotnet/docs

Bump jQuery (#2811)
  framework/docker/MVCRandomAnswerGenerator/MVCRandomAnswerGenerator/packages.config
Owners: @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*           @dotnet/docs

# C# samples:
/csharp/**  @BillWagner

# ML.NET samples:
/machine-learning/**  @natke

#### Snippets (under samples)

# C# Snippets:
/snippets/csharp/** @BillWagner
# Visual Basic snippets:
/snippets/visualbasic/** @BillWagner
# F# Snippets:
/snippets/fsharp/** @cartermp

# System.Json samples:
/snippets/core/system-text-json/** @tdykstra

# Text runes:
/snippets/core/rune/**  @tdykstra

# WPF folders:
/snippets/xaml/wpf/**   @thraka
/snippets/csharp/wpf/**   @thraka
/snippets/visualbasic/wpf/**   @thraka
/snippets/desktop-guide/wpf/**   @thraka

# Windows forms areas:
/winforms/** @thraka
/snippets/winforms/**  @thraka
